<p>
  <strong>Title:</strong>
  <%= @world.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @world.text %>
</p>

<h1>characters</h1>
<%= render @world.characters %>

 <h2>add a character</h2>
 <%= render 'characters/form' %>




<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>